*.cbx
*.cbx.meta
*.stackdump
.DS_Store*
.Spotlight-V100
.Trashes
._*
.env
/*.booproj
/*.csproj
/*.csproj.meta
/*.pidb
/*.projitems
/*.shproj
/*.sln
/*.suo
/*.unityproj
/*.user
/*.userprefs
/**/.idea/
/.vs/
/.vscode/
/UserSettings/
/Assets/StreamingAssets/Audio/GeneratedSoundBanks/Windows/DecodedBanks.meta
/Assets/StreamingAssets/Audio/GeneratedSoundBanks/Windows/DecodedBanks/
/Assets/StreamingAssets/Audio/GeneratedSoundBanks/Windows/DecodedBanks/Russian.meta
/Assets/StreamingAssets/Audio/GeneratedSoundBanks/Windows/SoundbanksInfo.xml
/Assets/StreamingAssets/Audio/GeneratedSoundBanks/Windows/SoundbanksInfo.xml.meta
/Assets/StreamingAssets/Bundles.meta
/Assets/StreamingAssets/Bundles/
/Assets/Temp
/Assets/Temp.meta
/Assets/Wwise/Editor/ProjectData.meta
/Assets/Wwise/Editor/ProjectData/
/Library*/
/Logs/
/Output/
/[Bb]uild/
/[Ee]xported[Oo]bj/
/[Ll]ibrary/
/**/[Oo]bj/
/[Tt]emp/
/**/bin/
ProjectSettings/Packages/
VideoCaptureLib_Log.txt
[Tt]humbs.db
ehthumbs.db
sysinfo.txt
